.sidenav {
  height: calc(100vh - 70px);
  background: #191919;
  color: #fff;
  position: relative;

  &.h-100 {
    height: 100vh;
  }

  a {
    color: #6d6d6d;
    display: flex;
    text-decoration: none;
    text-transform: uppercase;
    align-items: center;
    font-size: 12px;
    height: 63px;
    padding-left: 20px;
    position: relative;

    svg {
      font-size: 23px;
      margin-right: 5px;
    }

    &.active:before {
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      background: red;
      width: 5px;
    }

    &:first-child img {
      margin-right: 5px;
    }

    &:last-child {
      position: absolute;
      bottom: 0;
    }
  }

  #mainlogo {
    font-family: "Ubuntu";
    font-weight: 700;
    font-size: 20px;
    text-transform: lowercase;
    color: #d93b10;
    background: black;
  }
}
